.container{
  width: 50%;
  margin: auto;
}
.login-form{
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;

}

.loginBtn{
  width: 100%;
  border-radius: 2px;
}
input::placeholder{
  text-align: center;
}
.registerContainer{
  width: 50%;
  margin: auto;
}
.register-form{
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;

}

.close-modal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
.registerContainer{
  margin-top: 5rem;
}

.chartImg {
  width: 100%;
  height: auto;
}